@import "./variables.scss";

/*header*/

.header {
	.img-cont {
		width: 40px;
		height: 40px;
		margin: 3px;
		transition: 0.3s ease-in-out;
		border-radius: 50%;
		background-color: $pink;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 32px;
			height: 32px;
			cursor: pointer;
		}
	}
	.img-cont:hover {
		background-color: $pinkDark;

	}

	&__container {
		padding: 15px;
		width: 100%;
		max-width: 1000px;
		.audio-player {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			background-color: #333333;
			border-radius: 10px;

			p {
				font-size: 14px;
				margin: 0 0 5px 0;
				cursor: default;
			}

			&__switch-buttons {
				margin: 0 10px;
				display: flex;
			}

			&__panel {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				margin: 0 10px;
				.progress__container {
					border-radius: 10px;
					width: 500px;
					height: 6px;
					background-color: $gray;
					cursor: pointer;

					.progress {
						border-radius: 10px;
						width: 80px;
						height: 6px;
						background-color: $pink;
					}
				}
			}

			&__volume {
				margin: 0 10px;
				display: flex;
				.img-cont:hover {
					background-color: $pink;
				}
				.volume-container {
					background-color: $gray;
					margin: auto 0 auto 5px;
					border-radius: 10px;
					width: 100px;
					height: 6px;
					cursor: pointer;

					.volume {
						border-radius: 10px;
						width: 20px;
						height: 6px;
						background-color: $pink;
					}
				}
			}

			&__additional-buttons {
				margin: 0 10px;
				display: flex;
			}
		}
	}
}
